PORT=3000
JWT_LIFETIME=1d
NODE_ENV=Development
EMAIL_USER=YOUR_EMAIL_ADDRESS_FOR_NODEMAILER
EMAIL_PASS=APP_PASSWORD_FROM_GOOGLE
JWT_SECRET=YOUR_SECRET_JWT_KEY
FRONTEND_URL=http://localhost:5173
REDIS_HOST=YOUR_LOCALHOST_IP_ADDRESS
REDIS_PORT=PORT_OF_THE_REDIS_INSTANCE
REDIS_URL=NETWORK_ADDRESS_TO_ACCESS_THE_REDIS_CONTAINER
MONGO_URI=YOUR_MONGO_URI_STRING
GOOGLE_SHEETS_ID=THE_GOOGLE_SHEETS_ID_TO_APPEND_DATA_INTO
GOOGLE_CLIENT_EMAIL=EMAIL_OF_THE_GOOGLE_SERVICE_ACCOUNT
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
PRIVATE_KEY_GENERATED_WITH_THE_GOOGLE_SERVICE_ACCOUNT
-----END PRIVATE KEY-----"